src/main/mule/implementation/post-organizations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-organizationsFlow" doc:id="9b78cc32-9ed2-44d1-b5f0-4e3074dc5e14" >
		<ee:transform doc:name="Transform Message" doc:id="1147c8a8-0ebb-4be7-94b9-4f9d78ccfb92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload map ({
    "Name": $.OrganizationName,
    "Address__c": $.Address,
    "City__c": $.City,
    "State__c": $.State,
    "Zip__c": $.Zip,
    "PhoneNumber__c": $.PhoneNumber,
    "Revenue__c": $.Revenue
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create-job-bulk-api-v2 doc:name="POST /organizations" doc:id="ca38f3de-0e21-4e41-839a-d10d248b3b9d" config-ref="Salesforce_Config" objectType="Organization__c" operation="insert" lineEnding="CRLF">
		</salesforce:create-job-bulk-api-v2>
		<ee:transform doc:name="Transform Message" doc:id="5411a213-cb15-4eeb-8607-ecbc224cee2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"createdId": payload.id,
	"status": payload.state,
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fd49da78-4687-481d-875d-a811e08dc4fc" message="#[output application/json --- payload]"/>
	</flow>
</mule>
