src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="healthCheckFlow" doc:id="7670b263-d35c-44c7-8e51-e6877e4b4bfa" >
		<logger level="INFO" doc:name="Logger" doc:id="445de081-c972-42d5-8e1f-de8516f81482" message="Health Flow starting logger"/>
		<try doc:name="Try" doc:id="9a77a15f-eb25-4d4d-8a5c-c9d74d300100" >
			<salesforce:get-server-timestamp doc:name="Get server timestamp" doc:id="8bf4372e-fea0-4373-9f76-1c5ae4b314a0" config-ref="Salesforce_Config" target="result" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d98178b4-936a-4359-98b7-03f1e0292437" type="ANY">
				<set-variable value='#[""]' doc:name="result" doc:id="61bb21e6-c3e9-4c22-855c-bbf3c917600b" variableName="result" />
			</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="e405a00d-f5a9-4e29-96ae-697c48adda6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Status: if(not isEmpty(vars.result) ) "running" else "not-running",
  timeStamp: now(),
  (error: "unable to connect to salesforce") if(isEmpty(vars.result)) 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7a6c61d4-bb16-4924-84d9-0f0e0469ee45" message="Health flow ending logger"/>
	</flow>
	<flow name="getOrganizationDetails" doc:id="bb529963-ced5-4686-a455-99173898a12c" >
		<logger level="INFO" doc:name="Logger" doc:id="66ac1a38-34f6-4d8a-a987-bc9763b60041" message="Start logger"/>
		<salesforce:query doc:name="Query" doc:id="24a24831-e0c3-4b79-a970-9fa249ba1084" config-ref="Salesforce_Config" readTimeoutUnit="MILLISECONDS">
			<salesforce:salesforce-query><![CDATA[select Name,Address__c,City__c,State__c,Zip__c,PhoneNumber__c,Revenue__c from Organization__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform to json" doc:id="416d6644-169f-4df7-ac31-630a15a19b68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	"Organization Name": payload01.Name default "",
	Address: payload01.Address__c default "",
	City: payload01.City__c default "",
	State: payload01.State__c default "",
	Zip: payload01.Zip__c default "",
	PhoneNumber: payload01.PhoneNumber__c as String default "",
	Revenue: payload01.Revenue__c default 0
}]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		
</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="938f389b-f6a7-4dcc-b58b-eaf7b589a4ce" message="End Logger"/>
	</flow>
</mule>
